<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width" initial-scale=1.0>
    <title>Class 9C news builetain</title>
		<!-- CSS links And Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<!-- --------------------------- -->
		<style>
			.video {
				width: 250px;
				height: 200px
				margin : 0;
				padding: 0;
			}
			@media (min-width: 0px) and (max-width: 330px){
				.video{
					display: none;
				}
			}
			@media (min-width: 330px) and (max-width: 400px){
				.video{
					width: 250px;
					height : 200px;
				}
			}
			@media (min-width: 400px) and (max-width: 560px){
				.video{
					width: 280px;
					height: 250px;
				}
			}
			@media (min-width: 560px) and (max-width: 768px){
				.video{
					width: 400px;
					height: 300px;
				}
			}
			@media (min-width: 768px) and (max-width: 992px){
				.video{
					width: 600px;
					height: 300px;
				}
			}

			@media (min-width: 992px) and (max-width: 1200px){
				.video{
					width: 850px;
					height: 550px;
				}
			}
			@media (min-width: 1200px) and (max-width: 1400px){
				.video{
					width: 1000px;
					height: 500px;
				}
			}
			@media (min-width: 1400px){
				.video{
					width: 1300px;
					height: 700px;
				}
			}
		</style>
  </head>
  <body>