<%- include('partials/_header.ejs') %>
<%- include('partials/_navbar.ejs') %>
<div class="container-fluid">
	<div class="row align-items-md-stretch">
		<div class="col-md-6 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 text-white bg-dark rounded-3">
				<h2>See The News Points Mentioned</h2>
				<p>Visit the news type specific pages of the website and check out their videos and the news points made</p>
				<button class="btn btn-outline-secondary" onclick="location.href='/news'">Go To News Menu</button>
			</div>
		</div>
		<div class="col-md-6 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h2>Whatch Whole News Video</h2>
				<p>Or, Check out the whole presentation in video form using youtube</p>
				<button class="btn btn-outline-secondary" type="button" onclick="location.href='/main-video'">Check It Out</button>
			</div>
		</div>
	</div>
</div>
<%- include('partials/_footer.ejs') %>