<%- include('partials/_header.ejs') %>
<%- include('partials/_navbar.ejs') %>
<div class="container-fluid">
	<div class="row align-items-md-stretch">
		<div class="col-md-6 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 text-white bg-dark rounded-3">
				<h2>International News</h2>
				<p>Visit the international news section and check out the points made in writing</p>
				<button class="btn btn-outline-light" type="button" onclick="location.href='/news/international'">Check It Out</button>
			</div>
		</div>
		<div class="col-md-6 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h2>National News</h2>
				<p>Check out the video for the national news section and the the points listed down</p>
				<button class="btn btn-outline-secondary" type="button" onclick="location.href='/news/national'">Go Check It Out</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row align-items-md-stretch">
		<div class="col-md-6 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h2>School News</h2>
				<p>Visit the school news type specific page of the website and check out it's video and the news points made</p>
				<button class="btn btn-outline-secondary" type="button" onclick="location.href='/news/school'">Go Check It Out</button>
			</div>
		</div>
		<div class="col-md-6 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 text-white bg-dark rounded-3">
				<h2>Whatch Whole News Video</h2>
				<p>Or, Check out the whole presentation in video form added on youtube </p>
				<button class="btn btn-outline-light" type="button" onclick="location.href='/main-video'">Check It Out</button>
			</div>
		</div>
	</div>
</div>
<%- include('partials/_footer.ejs') %>