<%- include('partials/_header.ejs') %>
<%- include('partials/_navbar.ejs') %>
<div class="container-fluid">
	<div class="row align-items-md-stretch">
		<div class="col-md-12 mb-2 pt-3 pb-3">
			<div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
				<h1 class="mb-3">404 Not Found</h1>
				<h4 class="mb-3 text-muted">Sorry, But The Page You Are Trying To Go To Is Not Found</h4>
				<button class="btn btn-outline-secondary" onclick="location.href='/'">Go To Home</button>
			</div>
		</div>
	</div>
</div>
<%- include('partials/_footer.ejs') %>